data:
  dataset_path: data/processed/full_v1.zarr
  region2vec_path: configs/outputs/region_embeddings/region_embeddings.pt
  use_valid_targets: true
  mobility_threshold: 10
  missing_permit: 0
  window_stride: 1
  #-- smoothing --#
  smoothing:
    enabled: false
    window: 5
    smoothing_type: rolling_mean
  log_scale: true
model:
  type:
    cases: true
    regions: true
    biomarkers: true
    mobility: true
  params:
    mobility_embedding_dim: 32
    region_embedding_dim: 64
    gnn_module: "gcn"
    #-- seq sizes --#
    history_length: 14
    forecast_horizon: 7
    #-- graph params --#
    max_neighbors: 20
    gnn_depth: 2
output:
  experiment_name: mn5_epiforecaster_full
  log_dir: outputs/training
training:
  device: "cuda"
  batch_size: 256
  early_stopping_patience: 5
  nan_loss_patience: 5
  epochs: 10
  learning_rate: 0.001
  weight_decay: 1.0e-05
  num_workers: 16
  val_workers: 2
  val_split: 0.1
  test_split: 0.1
  profiler:
    enabled: false
    profile_batches: 20
    log_dir: auto
  plot_forecasts: true
  num_forecast_samples: 3
